<p id="notice"><%= notice %></p>

<p>
  <strong>Bed type name:</strong>
  <%= @bed_type.bed_type_name %>
</p>

<%= link_to 'Edit', edit_bed_type_path(@bed_type) %> |
<%= link_to 'Back', bed_types_path %>
