<p id="notice"><%= notice %></p>

<p>
  <strong>Bath type name:</strong>
  <%= @bath_type.bath_type_name %>
</p>

<%= link_to 'Edit', edit_bath_type_path(@bath_type) %> |
<%= link_to 'Back', bath_types_path %>
